body {
  background-color: #171717;
  color: white;
  font-family: 'poppinsregular';
  margin: 0 auto;

}

html {
  scroll-behavior: smooth;
}

/* CABEÇALHO DO SITE - HEADER */

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
  border-bottom: 0.1px solid rgb(54, 53, 53);
  margin-bottom: 110px;
}

* #title {
  flex-direction: column;
  line-height: 10px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  color: white;
}

a:hover {
  color: rgb(189, 188, 188);
  transition: 0.4s all;
}

span {
  color: #fefefe;
}

/* CONFIGURAÇÕES CONTEÚDO PRINCIPAL - BODY */

#conteudo-principal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 25px;

}

.conteudo-principal-escrito-titulo {
  font-size: 60px;
  font-family: 'poppinsmedium';
  font-weight: 5;
}

.conteudo-principal-escrito-dinamico {
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
}

.conteudo-principal-escrito-dinamico {
  animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}


@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 13em;
    ;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255 .75)
  }

  to {
    border-right-color: transparent;
  }
}


.imagem-conteudo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  image-resolution: unset;
  width: 350px;
}

.imagem-conteudo-principal {
  animation: flutuacao 5s ease-in-out infinite;
}

@keyframes flutuacao {

  0%,
  100% {
    transform: transitionY(10px);
  }

  50% {
    transform: translateY(-40px);
  }
}

#conteudo-secundario {
  display: flex;
  border-top: 0.1px solid rgb(54, 53, 53);
  background-color: #101010;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 110px;
  margin: 0 auto;
  padding: 80px;
}

.conteudo-secundario-escrito-titulo {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-family: 'poppinsmedium';

}

.conteudo-secundario-escrito-paragrafo {
  font-family: 'poppinsregular';
  text-align: justify;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 400px;
  max-width: 500px;
  color: rgb(208, 210, 211);
}

.conteudo-secundario-escrito-sociallinks {
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.imagem-secundaria {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 400px;
  image-resolution: unset;
}

.conteudo-secundario-escrito-botao-um {
  font-family: 'poppinsmedium';
  font-size: 15px;
  margin-left: 80px;
  background-color: #101010;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #ABFFFF;
  cursor: pointer;
  text-align: center;
  color: white;

}

.conteudo-secundario-escrito-botao-dois {
  font-family: 'poppinsmedium';
  font-size: 15px;
  margin-left: 30px;
  background-color: #101010;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #ABFFFF;
  cursor: pointer;
  text-align: center;
  color: white;
}

.botao-um {
  text-decoration: none;
}

.botao-dois {
  text-decoration: none;
}

.conteudo-secundario-escrito-botao-um:hover {
  background-color: rgb(32, 31, 31);
  transition: 0.4s all;
}

.conteudo-secundario-escrito-botao-dois:hover {
  background-color: rgb(32, 31, 31);
  transition: 0.4s all;
}



.conteudo-terciario-escrito {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}

.conteudo-terciario-escrito-titulo {
  font-size: 30px;
}

.conteudo-terciario-escrito-paragrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}


.conteudo-terciario-localizacao {
  display: flex;
}

.conteudo-terciario-contatos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.conteudo-terciario-contatos-localizacao {
  background-color: #121212;
  color: #ffffff;
  font-weight: 20px;
  font-family: 'poppinsregular';
  font-size: 20px;
  padding: 120px;
  border-radius: 10px;
}

.conteudo-terciario-contatos-email {
  background-color: #121212;
  color: #ffffff;
  font-weight: 20px;
  font-family: 'poppinsregular';
  font-size: 20px;
  padding: 120px;
  border-radius: 10px;

}


footer {
  background-color: #121212;
  text-align: center;
  font-family: 'poppinsregular';
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #ABFFFF;
  font-family: 'poppinsregular';
}